body {
  outline: solid 1px black;
  text-align: center;
}

body * {
  outline: solid 1px black;
}
p {
  height: 100%;
}

header {
  height: 75px;
  line-height: 75px;
}

nav {
  height: 150px;
  line-height: 150px;
}

article {
  height: 125px;
  line-height: 125px;
}


section {
  display: flex;
  flex-wrap: wrap;
}

section > article {
  height: 250px;
  width: 50%;
  line-height: 250px;
}

footer {
  height: 80px;
  line-height: 80px;
}

@media only screen and (min-width: 768px) {
  header {
    height: 100px;
  }

  main {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 600px;
  }

  nav {
    width: 200px;
    height: 600px;
    line-height: 600px;
  }

  div {
    display: flex;
    width: 760px;
  }

  article {
    width: 50%;
    height: 200px;
    line-height: 200px;
  }

  section {
    display: flex;
  }

  section article {
    width: 190px;
  }

  footer {
    width: 760px;
    height: 150px;
    line-height: 150px;
  }
}