header {
  background-color: rgb(42, 200, 253);
}
nav {
  background-color: turquoise;
}

article {
  background-color:lightblue;
}

article:last-of-type() {
  background-color: rgb(13, 145, 131)
}

section article{
  background-color:cyan;
}

section article:nth-child(2){
  background-color:rgb(46, 139, 111);
}

section article:nth-child(3){
  background-color:rgb(34, 184, 164);
}

section article:nth-child(4){
  background-color:rgb(114, 228, 209);
}

footer {
  background-color: rgb(57, 102, 98);
}

@media only screen and (min-width: 768px) {
  header {
    background-color: coral;
  }
  nav {
    background-color: orange;
  }
  
  article {
    background-color:salmon;
  }
  
  article:last-of-type {
    background-color: rgb(192, 115, 43);
  }
  
  section article{
    background-color:lightsalmon;
  }
  
  section article:nth-child(2){
    background-color:darkorange;
  }
  
  section article:nth-child(3){
    background-color:orangered;
  }
  
  section article:nth-child(4){
    background-color:rgb(221, 107, 41);
  }
  
  footer {
    background-color: rgb(190, 96, 62);
  }
}